# ignore all .swp files
*.swp
ntl-extras/vec_lzz_p_extra/test/test_inv
ntl-extras/vec_lzz_p_extra/test/test_inv.chk
ntl-extras/structured_lzz_pX/test/test_sylvester_inv_trunc
ntl-extras/structured_lzz_pX/test/test_sylvester_mul_left
ntl-extras/structured_lzz_pX/test/test_sylvester_mul_left_trunc
ntl-extras/structured_lzz_pX/test/test_sylvester_mul_right
ntl-extras/structured_lzz_pX/test/test_sylvester_mul_right_trunc
ntl-extras/structured_lzz_pX/test/test_sylvester_phi_plus_generators
ntl-extras/structured_lzz_pX/test/test_sylvester_to_dense
ntl-extras/structured_lzz_pX/test/test_toeplitz_like_minus
ntl-extras/structured_lzz_pX/test/test_toeplitz_like_minus_mul_left_trunc
ntl-extras/structured_lzz_pX/test/test_toeplitz_like_minus_mul_right_trunc
ntl-extras/structured_lzz_pX/test/test_toeplitz_like_minus_to_dense
ntl-extras/sage_output/test/test_sage_output
ntl-extras/sage_output/test/test_sage_output.chk
ntl-extras/mat_lzz_pX_extra/test/test_addshift
ntl-extras/mat_lzz_pX_extra/test/test_app_iterative
ntl-extras/mat_lzz_pX_extra/test/test_app_mbasis
ntl-extras/mat_lzz_pX_extra/test/test_app_pmbasis
ntl-extras/mat_lzz_pX_extra/test/test_charpolymod
ntl-extras/mat_lzz_pX_extra/test/test_constant_multiply
ntl-extras/mat_lzz_pX_extra/test/test_deg
ntl-extras/mat_lzz_pX_extra/test/test_determinant
ntl-extras/mat_lzz_pX_extra/test/test_division
ntl-extras/mat_lzz_pX_extra/test/test_eval
ntl-extras/mat_lzz_pX_extra/test/test_high_order_lifting
ntl-extras/mat_lzz_pX_extra/test/test_int_mbasis
ntl-extras/mat_lzz_pX_extra/test/test_int_pmbasis
ntl-extras/mat_lzz_pX_extra/test/test_inv_trunc
ntl-extras/mat_lzz_pX_extra/test/test_kernel
ntl-extras/mat_lzz_pX_extra/test/test_linsolve
ntl-extras/lzz_p_extra/test/test_element_of_order
ntl-extras/lzz_p_extra/test/test_element_of_order.chk
ntl-extras/lzz_p_extra/test/test_order
ntl-extras/lzz_p_extra/test/test_order.chk
ntl-extras/lzz_pX_CRT/test/test_bivariate_evaluation
ntl-extras/lzz_pX_CRT/test/test_bivariate_evaluation.chk
ntl-extras/lzz_pX_CRT/test/test_CRT
ntl-extras/lzz_pX_CRT/test/test_CRT.chk
ntl-extras/lzz_pX_CRT/test/test_evaluate_interpolate_matrix
ntl-extras/lzz_pX_CRT/test/test_evaluate_interpolate_vector
ntl-extras/lzz_pX_CRT/test/test_FFT_evaluate
ntl-extras/lzz_pX_CRT/test/test_FFT_evaluate.chk
ntl-extras/lzz_pX_CRT/test/test_FFT_interpolate
ntl-extras/lzz_pX_CRT/test/test_FFT_interpolate.chk
ntl-extras/lzz_pX_CRT/test/test_general_evaluate
ntl-extras/lzz_pX_CRT/test/test_geometric_evaluate
ntl-extras/lzz_pX_CRT/test/test_geometric_evaluate_long
ntl-extras/lzz_pX_CRT/test/test_geometric_interpolate
ntl-extras/lzz_pX_CRT/test/test_geometric_vector_operations
ntl-extras/lzz_pX_CRT/test/test_t_evaluate_interpolate_matrix
ntl-extras/lzz_pX_CRT/test/test_t_evaluate_interpolate_vector
ntl-extras/lzz_pX_CRT/test/test_t_FFT_evaluate
ntl-extras/lzz_pX_CRT/test/test_t_FFT_interpolate
ntl-extras/lzz_pX_CRT/test/test_t_general_evaluate
ntl-extras/lzz_pX_CRT/test/test_t_general_interpolate
ntl-extras/lzz_pX_CRT/test/test_t_geometric_evaluate
ntl-extras/lzz_pX_CRT/test/test_t_geometric_interpolate
ntl-extras/lzz_pX_CRT/test/test_thresholds_geometric
ntl-extras/lzz_pX_seq/test/test_make_seq
ntl-extras/lzz_pX_seq/test/test_make_seq.chk
ntl-extras/lzz_pX_seq/test/test_make_seq_mod
ntl-extras/lzz_pX_seq/test/test_seq
ntl-extras/lzz_pX_seq/test/test_seq_mod
ntl-extras/magma_output/test/test_magma_output
ntl-extras/magma_output/test/test_magma_output.chk
ntl-extras/mat_lzz_pX_extra/test/test_lmultiplier
ntl-extras/mat_lzz_pX_extra/test/test_matpadegen
